.main-header {
  background-color: var(--bg-color);
  transition: background .3s;
}

.navbar .nav-link {
  color: var(--text-color);
  margin-right: 12px;
  padding-left: 20px;
  font-weight: 500;
  transition: color .3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #b48b6a;
}

.brand {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--primary-color);
}

/* SEARCH BAR */
.search-form {
  position: relative;
}

.search-form input {
  border-radius: 20px;
  padding-right: 40px;
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  color: var(--text-color);
  transition: .3s;
}

.search-form input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color);
}

.btn-search {
  position: absolute;
  right: 5px;
  top: 3px;
  border: none;
  background: transparent;
}

.btn-search i {
  font-size: 1.1rem;
  color: var(--primary-color);
  cursor: pointer;
}

/* DARK MODE BUTTON */
.btn-toggle-theme {
  border: none;
  color: var(--text-color);
  background: transparent;
  font-size: 1.25rem;
  transition: color .3s;
}

.btn-toggle-theme:hover {
  color: var(--primary-color);
}
