.footer {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
}

.footer-title {
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.footer-text {
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--link-hover-color);
}

.footer-copy {
  font-size: 0.85rem;
  color: var(--muted-text-color);
}

.social-icons a {
  font-size: 1.2rem;
  margin-right: 12px;
  color: var(--primary-color);
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: var(--link-hover-color);
  transform: scale(1.2);
}

.admin-access {
  position: absolute;
  bottom: 10px;
  /* proche du texte */
  right: 10px;
  /* discrète, coin inférieur droit */
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* invisible */
  opacity: 0;
}