/* --- Conteneur général --- */
.filters-container {
  background: var(--filter-bg);
  /* beige clair */
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

/* --- Barre de recherche --- */
.search-bar input {
  width: 100%;
  padding: 12px 18px;
  border: 2px solid var(--input-border);
  border-radius: 30px;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
  background: var(--input-bg);
  color: var(--input-text);
}

.search-bar input:focus {
  border-color: var(--primary-color);
  /* doré */
  box-shadow: 0 0 6px rgba(201, 167, 118, 0.4);
}

/* --- Boutons catégories --- */
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cat-btn {
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  background: var(--filter-btn-bg);
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  color: var(--filter-btn-text);
}

.cat-btn:hover {
  background: var(--secondary-color);
  color: #fff;
}

.cat-btn.active {
  background: var(--filter-btn-active-bg);
  /* doré */
  color: white;
  font-weight: 600;
}