.service-card {
  border-radius: 14px;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.service-card .card-title {
  color: #b48b6a;
  font-weight: 600;
}


.service-card .list-group-item {
  border: none;
  padding: 10px 15px;
}


.service-card .card-link {
  color: #b48b6a;
  text-decoration: none;
  font-weight: 500;
}

.service-card .card-link:hover {
  text-decoration: underline;
}
