.admin-login {
  height: 100vh;
  background: var(--bg-color);
}

.login-card {
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.login-card h2 {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: #9d7454;
}

.form-control {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(180, 139, 106, 0.5);
}